html {
    font-size: 16px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Rajdhani', sans-serif;
}

.navbar, footer {
    font-family: 'Rajdhani', sans-serif;
}

.module-border-wrap {
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, #200122 0%, #6f0000 51%, #200122 100%);
    padding: 3px;
}

.btn-grad {
    background-image: linear-gradient(to right, #06beb6 0%, #48b1bf 51%, #06beb6 100%);
    margin: 5px;
    padding: 10px 40px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    color: black;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

    .btn-grad:hover {
        background-position: right center;
        color: white;
    }

.card-body-home {
    height: 250px;
    overflow-y: auto;
    padding: 7px;
}

    .card-body-home::-webkit-scrollbar {
        width: 2px;
    }

    .card-body-home::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    .card-body-home::-webkit-scrollbar-thumb {
        background: #06beb6;
        border-radius: 10px;
    }

        .card-body-home::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
